.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Project specific files
*.pt
wandb/
vllm/out/
!vllm/out/.gitkeep
logs/
src/
metrics/blip/pretrained/
metrics/egovlp/pretrained/
!metrics/blip/pretrained/.gitkeep
!metrics/egovlp/pretrained/.gitkeep
